body{
    background-color: #fff;
}
.DAVV{
    background-color:#0E3778;
}

.Username{
    background-color:#0E3778;
}

.BACK{
    background-color:#E0E0E0;
}

.SAVE{
    background-color:##0E3778;
    color: white;
}
